.iridescence-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.iridescence-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

